@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-poppins: "Poppins", "sans-serif";
  display: flex;
}
#root {
  display: flex;
}
body {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
}
.App {
  text-align: center;
}
/* main {
  padding-left: 4rem;
  padding-top: 3rem; */
/*Barra lateral visible*/

/* grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3; */
/*Barra lateral oculta*/

/* grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 3; */
/* } */
