@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --font-poppins: "Poppins", "sans-serif";
}
body {
  display: flex;
}
.App {
  text-align: center;
}
main {
  padding-top: 2rem;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
}
